body {
  background-color: lightgoldenrodyellow;
}

h2, p {
  color: black;
}

.goodUV {
  background-color: green;
  color: white;
}

.moderateUV {
  background-color: orange;
  color: white;
}

.poorUV {
  background-color: red;
  color: white;
}